@charset "utf-8";





body:after {
  display: none;
}
body.lb-disable-scrolling {
  overflow: hidden;
}
.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1999;
	background:#07223d;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  opacity: 0.95;
  display: none;
}
.lightbox {
  left: 0;
  width: 100%;
  z-index: 2000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}
.lightbox .lb-image {
  display: block;
   width: 100%;
  height: auto;
  max-width: inherit;
}
.lightbox a img {
  border: none;
}
.lb-outerContainer {
  position: relative;
  *zoom: 1;
   margin: 0 auto;
}
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}
.lb-loader {
	display:block;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	position:absolute;
	top:50%;
	left:50%;
	background-image:url(../../img/hiiki/logo1.svg);
	background-position:center;
	background-size:72px 72px;
	background-repeat:no-repeat;
}
.lb-cancel {
	display:block;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}
.lb-container > .nav {
  left: 0;
}
.lb-nav a {
  outline: none;
}
.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}
.lb-nav a.lb-prev {
	width:50%;
	float:left;
    background-image: url(../../img/hiiki/arrow3.svg);
    background-size: 56px 56px;
    background-repeat: no-repeat;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	-webkit-transition: opacity 0.6s;
	-moz-transition: opacity 0.6s;
	-o-transition: opacity 0.6s;
	transition: opacity 0.6s;
}
.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.lb-nav a.lb-next {
	width:50%;
	float:right;
    background-image: url(../../img/hiiki/arrow4.svg);
    background-size: 56px 56px;
    background-repeat: no-repeat;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	-webkit-transition: opacity 0.6s;
	-moz-transition: opacity 0.6s;
	-o-transition: opacity 0.6s;
	transition: opacity 0.6s;
}
.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.lb-dataContainer {
    display:none !important;
}